
.form_w {
	border-bottom: 3px solid #dc3545;
	width:30%;
}

.form-c {
	border:none;
	width:90%;
	padding:1.5%;
}

.search_button {
	background: none;
	border: none;

}

.search_button:focus{
	outline: none;
	border-color:transparent;
 	outline: none !important;
   box-shadow: none;
}

.search_button:active{
	outline: none;
	border-color:transparent;
	 outline: none !important;
   box-shadow: none;
}
.start_thread{
	color:white;
	font-size: 18px;
	width:68%;
	margin-left: 4%;
}

.start_thread:hover{
	color: black;
}

.left_one {
	padding: 1%;
	padding-top:2%;

}

.categories button{
	border: none;
	font-size: 15px;
	color: black;
	padding: 2%;
}

.user img{
	height:55px;
	width:55px;
}

.contents {
	text-align: justify;
	padding: 2%;
	padding-left:3%;
	padding-right: 3%;
}

.like a{
	padding-left: 3%;
	padding-right: 3%;
	font-size: 20px;
	color:#6c757d;
}

.like a span{
	font-size: 12px;
}

.like a:hover{
	text-decoration: none;
	color: #339af0;
}

.comment img{
	height: 40px;
	width:40px;
	padding-top: 2%;
}

.comment_box {
	border-radius: 50px;
	padding:1%;
	padding-left: 1.5%;
	overflow-y: visible;
}

textarea{
  /* box-sizing: padding-box; */

  /* demo only: */
  padding:2%;
  width:100%;
  font-size:14px;
  display:inline-block;
	height: 40px;
	color:#6c757d;
	border-radius: 5px;
  overflow:hidden;
}

.comment_btn {
	width: 100%;

}

.hiden {
	display:none;

}



.categories a{
	text-align: left;
	padding-left: 10%;
	border: none;
	font-size: 16px;
	background-color:#FAFAFA;
}

.categories i{
	height: 30px;
	padding: 1%;
	padding-right:5%;
}

.categories {
	padding-left: 6%;
	padding-right: 6%;

}

.categories a:hover{
	color:white;
}

.heading{
  font-family: 'PT Serif', serif;
  font-size: 32px;
  color: #4b4b4b;
}

.user_name{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #4b4b4b;
}

.category_head{
  font-size: 30px;
  color: #4b4b4b;
  text-align: center;
}

.content_p{
  overflow-y: scroll;
  padding-top: 2%;
}

.content_p::-webkit-scrollbar{
    width:0;
}

#post{
  display: none;
}

.title_post{
  padding-top: 3%;
}

.title_post1{
  font-family: 'PT Serif', serif;
  font-size: 32px;
  color: #4b4b4b;
}

.post_block{
  margin-bottom: 4%;
  margin-top: 0.5%;
}

.btns_links{
  padding:1%;
  padding-bottom: 2%;
}

.btns_links i{
  padding-right: 2%;
  color:white;
}

.btns_links button{
border:none;
background: transparent;
}
