.forum_cat{

	margin-top:2%;
	font-size: 2.5vh;
}

.body{
    background-color: #ecf0f1;
}

.question_box{
    margin-top:0%;
    margin-bottom: 2%;
    width: 100%;
    padding:2%;
    padding-left:3%;
    border-radius: 7px;
    background-color: #fcfcfd;
}

.forum_hot{
	margin-top: 6.8%;

}

.forum_main{
    margin-top:2%;
}

.rq{
font-size: 2vh;
}

.ch32{
    margin-top:-1%;
    font-family:'Crimson Text', serif;
}

.butns button:hover{
    background-color: #ecf0f1;
}

.ch31{
    margin-top:2%;
    font-family:'Crimson Text', serif;
}

.q_hover{
	color:#bd2130;
}

.usr_size{
    font-size: 2.3vh;
    margin-top:0%;
}
.usr_detail{
    font-size: 2.1vh;
    padding-left: 0%;
}

.time{
    font-size: 2.1vh;
    margin-top:-1.5%;
}

.usr_detail1{
    font-size: 2vh;
    margin-top:-3%;
}
