<div class="sidebar-wrapper">
        <ul class="nav">
          <li  class="active" id="Pages">
            <a href="/index/">
              <i class="mdi mdi-file-multiple"></i>
              <p>Main panel</p>
            </a>
          </li>
          <li class=""  id="Edit User">
            <a href="/records/">
              <i class="mdi mdi-account-edit"></i>
              <p>Records</p>
            </a>
          </li>

          <li class=""  id="potholes">
            <a href="/potholes/">
              <i class="mdi mdi-account-remove"></i>
              <p>Potholes</p>
            </a>
          </li>

          <li class=""  id="sewage">
            <a href="/sewage/">
              <i class="mdi mdi-account-remove"></i>
              <p>Sewage</p>
            </a>
          </li>
          
          <li class=""  id="garbage">
            <a href="/garbage/">
              <i class="mdi mdi-account-remove"></i>
              <p>Garbage</p>
            </a>
          </li>

          <li class=""  id="punestation">
            <a href="/punestation/">
              <i class="mdi mdi-account-remove"></i>
              <p>Pune Station</p>
            </a>
          </li>

          <li class=""  id="kothrud">
            <a href="/kothrud/">
              <i class="mdi mdi-account-remove"></i>
              <p>Kothrud</p>
            </a>
          </li>
          <li class=""  id="swarget">
            <a href="/swarget/">
              <i class="mdi mdi-account-remove"></i>
              <p>Swarget</p>
            </a>
          </li>
          <li class=""  id="pimpri">
            <a href="/pimpri/">
              <i class="mdi mdi-account-remove"></i>
              <p>Pimpri</p>
            </a>
          </li>
          <li class=""  id="loni">
            <a href="/loni/">
              <i class="mdi mdi-account-remove"></i>
              <p>Loni</p>
            </a>
          </li>




        </ul>
      </div>
